.input-group {
    position: relative;
    display: block;
  }
  
  .search-bar {
    border: rgba(206, 201, 201, 0.24);
    border-top-left-radius: 6px;
    border-radius: 6px;
    height: 36px;
    width: 60%;
    font-weight: 300;
    padding-left: 10px;
    background-color: rgb(243, 243, 243);
  }
  
  .search-box {
    background-color: #8ce5e1;
    border: grey;
    color: white;
    font-weight: 300;
    transform: all 200ms ease-in-out;
    height: 36px;
    margin-left: 10px;
    margin-right: 10PX;
    border-radius: 6px;
  }
  
  .search-box:hover {
    background-color: white;
    color: #8ce5e1;
    transform: all 200ms ease-in-out;
  }
  
  .current-location {
    background-color: #8ce5e1;
    border: rgba(255, 255, 255, 0.24);
    color: white;
    font-weight: 300;
    transform: all 200ms ease-in-out;
    height: 36px;
    border-radius: 6px;
  }
  
  .current-location:hover {
    background-color: white;
    color: #8ce5e1;
    transform: all 200ms ease-in-out;
  }
  